header,
main {
    padding: 0 100px;
}

.Layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


@media screen and (max-width:1024px) {

    header,
    main {
        padding: 0 30px;
    }
}

@media screen and (max-width:768px) {

    header,
    main {
        padding: 0 30px;
    }
}

@media screen and (max-width:600px) {

    header,
    main {
        padding: 0 10px;
    }
}